.stroke-text {
  -webkit-text-stroke: 1px white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

.stroke-text {
  -webkit-text-stroke: 1px #555;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}