.stroke-text {
  -webkit-text-stroke: 1px white;
}
/* @keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s  linear infinite;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-text {
  -webkit-text-stroke: 1px #555;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}